<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="https://www.huilianyi.com/favicon.ico" type="image/x-icon">
    <title th:text="#{web.common.cron.title}"></title>
    <link th:href="@{/plugins/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css}" rel="stylesheet"
          type="text/css">
</head>
<body>
<input type="hidden" id="parentFrameName">
<div class="layui-tab layui-tab-card" style="width: 651px;margin-top: 0;">
    <ul class="layui-tab-title">
        <li class="layui-this" th:text="#{web.common.cron.head.second}"></li>
        <li th:text="#{web.common.cron.head.minute}"></li>
        <li th:text="#{web.common.cron.head.hour}"></li>
        <li th:text="#{web.common.cron.head.day}"></li>
        <li th:text="#{web.common.cron.head.month}"></li>
        <li th:text="#{web.common.cron.head.week}"></li>
        <li th:text="#{web.common.cron.head.year}"></li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px;">
                <input type="radio" name="second" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.second}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="second" value="1" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="second_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="58">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="second_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="59">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="second" value="2" onclick="beginWith(this)">
                <span th:text="#{web.common.cron.common.beginWith}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="second_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="0" min="0" max="59">
                </div>
                <span th:text="#{web.common.cron.common.everyStart}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="second_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="59">
                </div>
                <span th:text="#{web.common.cron.head.second.msg}"></span>
                <span th:text="#{web.common.cron.common.everyEnd}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="second" id="second_appoint" value="3">
                <span th:text="#{web.common.cron.common.appoint}"></span>
                <br>
                <div class="layui-input-inline second-list" style="margin-left: 15px; margin-top: 5px;">
                    <input type="checkbox" name="second-number" lay-skin="primary" value="0">&nbsp;00&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="1">&nbsp;01&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="2">&nbsp;02&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="3">&nbsp;03&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="4">&nbsp;04&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="5">&nbsp;05&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="6">&nbsp;06&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="7">&nbsp;07&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="8">&nbsp;08&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="9">&nbsp;09&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="10">&nbsp;10&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="11">&nbsp;11&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="12">&nbsp;12&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="13">&nbsp;13&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="14">&nbsp;14&nbsp;
                </div>
                <br>
                <div class="layui-input-inline second-list" style="margin-left: 15px;">
                    <input type="checkbox" name="second-number" lay-skin="primary" value="15">&nbsp;15&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="16">&nbsp;16&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="17">&nbsp;17&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="18">&nbsp;18&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="19">&nbsp;19&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="20">&nbsp;20&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="21">&nbsp;21&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="22">&nbsp;22&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="23">&nbsp;23&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="24">&nbsp;24&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="25">&nbsp;25&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="26">&nbsp;26&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="27">&nbsp;27&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="28">&nbsp;28&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="29">&nbsp;29&nbsp;
                </div>
                <br>
                <div class="layui-input-inline second-list" style="margin-left: 15px;">
                    <input type="checkbox" name="second-number" lay-skin="primary" value="30">&nbsp;30&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="31">&nbsp;31&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="32">&nbsp;32&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="33">&nbsp;33&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="34">&nbsp;34&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="35">&nbsp;35&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="36">&nbsp;36&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="37">&nbsp;37&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="38">&nbsp;38&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="39">&nbsp;39&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="40">&nbsp;40&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="41">&nbsp;41&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="42">&nbsp;42&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="43">&nbsp;43&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="44">&nbsp;44&nbsp;
                </div>
                <br>
                <div class="layui-input-inline second-list" style="margin-left: 15px;">
                    <input type="checkbox" name="second-number" lay-skin="primary" value="45">&nbsp;45&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="46">&nbsp;46&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="47">&nbsp;47&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="48">&nbsp;48&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="49">&nbsp;49&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="50">&nbsp;50&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="51">&nbsp;51&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="52">&nbsp;52&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="53">&nbsp;53&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="54">&nbsp;54&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="55">&nbsp;55&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="56">&nbsp;56&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="57">&nbsp;57&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="58">&nbsp;58&nbsp;
                    <input type="checkbox" name="second-number" lay-skin="primary" value="59">&nbsp;59&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px">
                <input type="radio" name="minute" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.minute}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="minute" value="1" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="minute_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="58">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="minute_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="59">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="minute" value="2" onclick="beginWith(this)">
                <span th:text="#{web.common.cron.common.beginWith}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="minute_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="0" min="0" max="59">
                </div>
                <span th:text="#{web.common.cron.common.everyStart}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="minute_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="59">
                </div>
                <span th:text="#{web.common.cron.head.minute.msg}"></span>
                <span th:text="#{web.common.cron.common.everyEnd}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="minute" id="minute_appoint" value="3">
                <span th:text="#{web.common.cron.common.appoint}"></span>
                <br>
                <div class="layui-input-inline minute-list" style="margin-left: 15px; margin-top: 5px;">
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="0">&nbsp;00&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="1">&nbsp;01&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="2">&nbsp;02&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="3">&nbsp;03&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="4">&nbsp;04&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="5">&nbsp;05&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="6">&nbsp;06&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="7">&nbsp;07&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="8">&nbsp;08&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="9">&nbsp;09&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="10">&nbsp;10&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="11">&nbsp;11&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="12">&nbsp;12&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="13">&nbsp;13&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="14">&nbsp;14&nbsp;
                </div>
                <br>
                <div class="layui-input-inline minute-list" style="margin-left: 15px;">
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="15">&nbsp;15&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="16">&nbsp;16&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="17">&nbsp;17&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="18">&nbsp;18&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="19">&nbsp;19&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="20">&nbsp;20&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="21">&nbsp;21&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="22">&nbsp;22&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="23">&nbsp;23&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="24">&nbsp;24&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="25">&nbsp;25&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="26">&nbsp;26&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="27">&nbsp;27&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="28">&nbsp;28&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="29">&nbsp;29&nbsp;
                </div>
                <br>
                <div class="layui-input-inline minute-list" style="margin-left: 15px;">
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="30">&nbsp;30&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="31">&nbsp;31&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="32">&nbsp;32&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="33">&nbsp;33&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="34">&nbsp;34&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="35">&nbsp;35&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="36">&nbsp;36&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="37">&nbsp;37&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="38">&nbsp;38&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="39">&nbsp;39&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="40">&nbsp;40&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="41">&nbsp;41&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="42">&nbsp;42&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="43">&nbsp;43&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="44">&nbsp;44&nbsp;
                </div>
                <br>
                <div class="layui-input-inline minute-list" style="margin-left: 15px;">
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="45">&nbsp;45&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="46">&nbsp;46&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="47">&nbsp;47&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="48">&nbsp;48&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="49">&nbsp;49&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="50">&nbsp;50&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="51">&nbsp;51&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="52">&nbsp;52&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="53">&nbsp;53&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="54">&nbsp;54&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="55">&nbsp;55&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="56">&nbsp;56&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="57">&nbsp;57&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="58">&nbsp;58&nbsp;
                    <input type="checkbox" name="minute-number" lay-skin="primary" value="59">&nbsp;59&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px;">
                <input type="radio" name="hour" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.hour}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="hour" value="1" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="hour_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="0" min="0" max="22">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="hour_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="23">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="hour" value="2" onclick="beginWith(this)">
                <span th:text="#{web.common.cron.common.beginWith}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="hour_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="0" min="0" max="23">
                </div>
                <span th:text="#{web.common.cron.common.everyStart}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="hour_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="23">
                </div>
                <span th:text="#{web.common.cron.head.hour.msg}"></span>
                <span th:text="#{web.common.cron.common.everyEnd}"></span>
            </div>
            <br>
            <div class="layui-input-inline" style="margin-left: 0;">
                <input type="radio" name="hour" id="hour_appoint" value="3">
                <span th:text="#{web.common.cron.common.appoint}"></span><br>
                <div class="layui-input-inline hour-list" style="margin-left: 15px; margin-top: 5px;">
                    AM: <input type="checkbox" name="hour-number" lay-skin="primary" value="0">&nbsp;00&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="1">&nbsp;01&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="2">&nbsp;02&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="3">&nbsp;03&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="4">&nbsp;04&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="5">&nbsp;05&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="6">&nbsp;06&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="7">&nbsp;07&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="8">&nbsp;08&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="9">&nbsp;09&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="10">&nbsp;10&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="11">&nbsp;11&nbsp;
                </div>
                <br>
                <div class="layui-input-inline hour-list" style="margin-left: 15px;">
                    PM: <input type="checkbox" name="hour-number" lay-skin="primary" value="12">&nbsp;12&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="13">&nbsp;13&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="14">&nbsp;14&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="15">&nbsp;15&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="16">&nbsp;16&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="17">&nbsp;17&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="18">&nbsp;18&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="19">&nbsp;19&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="20">&nbsp;20&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="21">&nbsp;21&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="22">&nbsp;22&nbsp;
                    <input type="checkbox" name="hour-number" lay-skin="primary" value="23">&nbsp;23&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px;">
                <input type="radio" name="day" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.day}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                    <span class="layui-badge">L</span>
                    <span class="layui-badge">M</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="day" value="1" onclick="unAppoint(this)">
                <span th:text="#{web.common.cron.common.unAppoint}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="day" value="2" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="day_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="31">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="day_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="31">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="day" value="3" onclick="beginWith(this)">
                <span th:text="#{web.common.cron.common.beginWith}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="day_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="31">
                </div>
                <span th:text="#{web.common.cron.common.everyStart}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="day_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="31">
                </div>
                <span th:text="#{web.common.cron.head.day.msg}"></span>
                <span th:text="#{web.common.cron.common.everyEnd}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="day" value="4" onclick="workDay(this)">
                每月
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="day_near" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="31">
                </div>
                号最近的那个工作日
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="day" value="5" onclick="lastDay(this)">
                <span th:text="#{web.common.cron.head.day.last}"></span>
            </div>
            <br>
            <div class="layui-input-inline" style="margin-left: 0;">
                <input type="radio" name="day" id="day_appoint" value="6">
                <span th:text="#{web.common.cron.common.appoint}"></span><br>
                <div class="layui-input-inline day-list" style="margin-left: 15px; margin-top: 5px;">
                    <input type="checkbox" name="day-number" lay-skin="primary" value="1">&nbsp;01&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="2">&nbsp;02&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="3">&nbsp;03&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="4">&nbsp;04&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="5">&nbsp;05&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="6">&nbsp;06&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="7">&nbsp;07&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="8">&nbsp;08&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="9">&nbsp;09&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="10">&nbsp;10&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="11">&nbsp;11&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="12">&nbsp;12&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="13">&nbsp;13&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="14">&nbsp;14&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="15">&nbsp;15&nbsp;
                </div>
                <br>
                <div class="layui-input-inline day-list" style="margin-left: 15px;">
                    <input type="checkbox" name="day-number" lay-skin="primary" value="16">&nbsp;16&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="17">&nbsp;17&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="18">&nbsp;18&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="19">&nbsp;19&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="20">&nbsp;20&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="21">&nbsp;21&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="22">&nbsp;22&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="23">&nbsp;23&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="24">&nbsp;24&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="25">&nbsp;25&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="26">&nbsp;26&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="27">&nbsp;27&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="28">&nbsp;28&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="29">&nbsp;29&nbsp;
                    <input type="checkbox" name="day-number" lay-skin="primary" value="30">&nbsp;30&nbsp;
                </div>
                <br>
                <div class="layui-input-inline day-list" style="margin-left: 15px;">
                    <input type="checkbox" name="day-number" lay-skin="primary" value="31">&nbsp;31&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0; margin-bottom: 6px;">
                <input type="radio" name="month" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.month}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="month" value="1" onclick="unAppoint(this)">
                <span th:text="#{web.common.cron.common.unAppoint}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="month" value="2" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="month_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="12">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="month_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="12">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="month" value="3" onclick="beginWith(this)">
                <span th:text="#{web.common.cron.common.beginWith}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="month_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="12">
                </div>
                <span th:text="#{web.common.cron.common.everyStart}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="month_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="12">
                </div>
                <span th:text="#{web.common.cron.head.month.msg}"></span>
                <span th:text="#{web.common.cron.common.everyEnd}"></span>
            </div>
            <br>
            <div class="layui-input-inline" style="margin-left: 0;">
                <input type="radio" name="month" id="month_appoint" value="4">
                <span th:text="#{web.common.cron.common.appoint}"></span><br>
                <div class="layui-input-inline month-list" style="margin-left: 15px; margin-top: 5px;">
                    <input type="checkbox" name="month-number" lay-skin="primary" value="1">&nbsp;01&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="2">&nbsp;02&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="3">&nbsp;03&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="4">&nbsp;04&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="5">&nbsp;05&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="6">&nbsp;06&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="7">&nbsp;07&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="8">&nbsp;08&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="9">&nbsp;09&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="10">&nbsp;10&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="11">&nbsp;11&nbsp;
                    <input type="checkbox" name="month-number" lay-skin="primary" value="12">&nbsp;12&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px;">
                <input type="radio" name="week" value="0" checked onclick="everyTime(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.week}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                    <span class="layui-badge">L</span>
                    <span class="layui-badge">#</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="week" value="1" onclick="unAppoint(this)">
                <span th:text="#{web.common.cron.common.unAppoint}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="week" value="2" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="week_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="6">
                </div>
                -
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="week_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2" min="2" max="7">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="week" value="3" onclick="weekOfDay(this)">
                每月第
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="week_start" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="4">
                </div>
                周的星期
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="week_every" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="7">
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="week" value="4" onclick="lastWeek(this)">
                <span th:text="#{web.common.cron.head.week.last}"></span>
                <div class="layui-input-inline" style="width: 50px; height: 38px;">
                    <input type="number" id="week_last" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="1" min="1" max="7">
                </div>
            </div>
            <br>
            <div class="layui-input-inline" style="margin-left: 0;">
                <input type="radio" name="week" id="week_appoint" value="5">
                <span th:text="#{web.common.cron.common.appoint}"></span><br>
                <div class="layui-input-inline week-list" style="margin-left: 15px; margin-top: 5px;">
                    <input type="checkbox" name="week-number" lay-skin="primary" value="1">&nbsp;1&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="2">&nbsp;2&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="3">&nbsp;3&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="4">&nbsp;4&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="5">&nbsp;5&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="6">&nbsp;6&nbsp;
                    <input type="checkbox" name="week-number" lay-skin="primary" value="7">&nbsp;7&nbsp;
                </div>
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;margin-bottom: 6px;">
                <input type="radio" name="year" value="0" checked onclick="unAppoint(this)">
                <div class="layui-input-inline">
                    <span th:text="#{web.common.cron.head.year}"></span>
                    <span th:text="#{web.common.cron.common.message}"></span>
                    <span class="layui-badge">,</span>
                    <span class="layui-badge">-</span>
                    <span class="layui-badge">*</span>
                    <span class="layui-badge">/</span>
                </div>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="year" value="1" onclick="everyTime(this)">
                <span th:text="#{web.common.cron.head.year.every}"></span>
            </div>
            <br>
            <div class="layui-input-inline layui-input-div" style="margin-left: 0;">
                <input type="radio" name="year" value="2" onclick="cycle(this)">
                <span th:text="#{web.common.cron.common.cycle}"></span>
                <div class="layui-input-inline" style="width: 60px; height: 38px;">
                    <input type="number" id="year_from" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;" value="2018" min="2018">
                </div>
                -
                <div class="layui-input-inline" style="width: 60px; height: 38px;">
                    <input type="number" id="year_to" autocomplete="off" class="layui-input-change"
                           style="height: 25px; margin-top: 6px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-col-md12" style="width: 651px;">
    <div class="layui-card">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 110px;"
                       th:text="#{web.common.cron.field.cronField}"></label>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_second" name="cron_second" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.second}" value="*" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_minute" name="cron_minute" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.minute}" value="*" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_hour" name="cron_hour" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.hour}" value="*" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_day" name="cron_day" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.day}" value="*" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_month" name="cron_month" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.month}" value="*" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_week" name="cron_week" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.week}" value="?" readonly>
                </div>
                <div class="layui-input-inline" style="width: 60px;">
                    <input type="text" id="cron_year" name="cron_year" autocomplete="off" class="layui-input"
                           th:placeholder="#{web.common.cron.head.year}" readonly>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 110px;"
                       th:text="#{web.common.cron.field.cronExp}"></label>
                <div class="layui-input-inline">
                    <input type="text" id="cron_exp" autocomplete="off" class="layui-input"
                           style="width: 388px;" readonly value="* * * * * ?">
                </div>
            </div>
            <div class="layui-inline" style="margin-left: 180px;">
                <button class="layui-btn" type="button" onclick="initCron()" ondblclick="backFillCron()">
                    <i class="fas fa-check"></i>&nbsp;
                    <span th:text="#{web.common.operate.ok}"></span>
                </button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-block">
                <label class="layui-form-label" style="width: 110px;"
                       th:text="#{web.common.cron.field.fiveTimes}"></label>
                <div class="layui-input-block" id="cronExpressions" style="margin-left: 140px;">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/common/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/common/utils.js}"></script>
<script type="text/javascript" th:src="@{/common/common.js}"></script>
<script type="text/javascript" th:src="@{/common/cron.js}"></script>
<script>
    layui.use(['jquery', 'element'], function () {
        var $ = layui.jquery,
            element = layui.element;

        initCron();
    });

    /**
     * 初始化Cron表达式
     */
    function initCron() {
        var cronExp = $("#cron_exp").val();
        if (cronExp) {
            var regs = cronExp.split(' ');
            $("#cron_second").val(regs[0]);
            $("#cron_minute").val(regs[1]);
            $("#cron_hour").val(regs[2]);
            $("#cron_day").val(regs[3]);
            $("#cron_month").val(regs[4]);
            $("#cron_week").val(regs[5]);

            initHourMinuteSecond("second", regs[0]);
            initHourMinuteSecond("minute", regs[1]);
            initHourMinuteSecond("hour", regs[2]);
            initDay(regs[3]);
            initMonth(regs[4]);
            initWeek(regs[5]);
            if (regs.length > 6) {
                $("#cron_year").val(regs[6]);
                initYear(regs[6]);
            }
        }
    }

    /**
     * 初始化时分秒表达式
     *
     * @param id
     * @param value
     */
    function initHourMinuteSecond(id, value) {
        var ary = null;
        var timeRadio = $("input[name='" + id + "']");
        if ("*" === value) {
            timeRadio.eq(0).attr("checked", "checked");
        } else if (value.split('-').length > 1) {
            ary = value.split('-');
            timeRadio.eq(1).attr("checked", "checked");
            $("#" + id + "_from").val(ary[0]);
            $("#" + id + "_to").val(ary[1]);
        } else if (value.split('/').length > 1) {
            ary = value.split('/');
            timeRadio.eq(2).attr("checked", "checked");
            $("#" + id + "_start").val(ary[0]);
            $("#" + id + "_every").val(ary[1]);
        } else {
            timeRadio.eq(3).attr("checked", "checked");
            if (value !== "?") {
                ary = value.split(",");
                for (var i = 0; i < ary.length; i++) {
                    $("." + id + "-list input[value='" + ary[i] + "']").attr("checked", "checked");
                }
            }
        }
    }

    /**
     * 初始化天表达式
     */
    function initDay(value) {
        var ary = null;
        var dayRadio = $("input[name='day']");
        if (value === "*") {
            dayRadio.eq(0).attr("checked", "checked");
        } else if (value === "?") {
            dayRadio.eq(1).attr("checked", "checked");
        } else if (value.split('-').length > 1) {
            ary = value.split('-');
            dayRadio.eq(2).attr("checked", "checked");
            $("#day_from").val(ary[0]);
            $("#day_to").val(ary[1]);
        } else if (value.split('/').length > 1) {
            ary = value.split('/');
            dayRadio.eq(3).attr("checked", "checked");
            $("#day_start").val(ary[0]);
            $("#day_every").val(ary[1]);
        } else if (value.split('W').length > 1) {
            ary = value.split('W');
            dayRadio.eq(4).attr("checked", "checked");
            $("#day_near").val(ary[0]);
        } else if (value === "L") {
            dayRadio.eq(5).attr("checked", "checked");
        } else {
            dayRadio.eq(6).attr("checked", "checked");
            ary = value.split(",");
            for (var i = 0; i < ary.length; i++) {
                $(".day-list input[value='" + ary[i] + "']").attr("checked", "checked");
            }
        }
    }

    /**
     * 初始化月表达式
     */
    function initMonth(value) {
        var ary = null;
        var monthRadio = $("input[name='mouth']");
        if (value === "*") {
            monthRadio.eq(0).attr("checked", "checked");
        } else if (value === "?") {
            monthRadio.eq(1).attr("checked", "checked");
        } else if (value.split('-').length > 1) {
            ary = value.split('-');
            monthRadio.eq(2).attr("checked", "checked");
            $("#month_from").val(ary[0]);
            $("#month_to").val(ary[1]);
        } else if (value.split('/').length > 1) {
            ary = value.split('/');
            monthRadio.eq(3).attr("checked", "checked");
            $("#month_start").val(ary[0]);
            $("#month_every").val(ary[1]);

        } else {
            monthRadio.eq(4).attr("checked", "checked");

            ary = value.split(",");
            for (var i = 0; i < ary.length; i++) {
                $(".mouth-list input[value='" + ary[i] + "']").attr("checked", "checked");
            }
        }
    }

    /**
     * 初始化周表达式
     */
    function initWeek(value) {
        var ary = null;
        var weekRadio = $("input[name='week']");
        if (value === "*") {
            weekRadio.eq(0).attr("checked", "checked");
        } else if (value === "?") {
            weekRadio.eq(1).attr("checked", "checked");
        } else if (value.split('/').length > 1) {
            ary = value.split('/');
            weekRadio.eq(2).attr("checked", "checked");
            $("#week_from").val(ary[0]);
            $("#week_to").val(ary[1]);
        } else if (value.split('-').length > 1) {
            ary = value.split('-');
            weekRadio.eq(3).attr("checked", "checked");
            $("#week_start").val(ary[0]);
            $("#week_every").val(ary[1]);
        } else if (value.split('L').length > 1) {
            ary = value.split('L');
            weekRadio.eq(4).attr("checked", "checked");
            $("#week_last").val(ary[0]);
        } else {
            weekRadio.eq(5).attr("checked", "checked");
            ary = value.split(",");
            for (var i = 0; i < ary.length; i++) {
                $(".week-list input[value='" + ary[i] + "']").attr("checked", "checked");
            }
        }
    }

    /**
     * 初始化年表达式
     */
    function initYear(value) {
        var ary = null;
        var yearRadio = $("input[name='year']");
        if (value === "*") {
            yearRadio.eq(1).attr("checked", "checked");
        } else if (value.split('-').length > 1) {
            ary = value.split('-');
            yearRadio.eq(2).attr("checked", "checked");
            $("#year_from").val(ary[0]);
            $("#year_to").val(ary[1]);
        }
    }

    /**
     * Cron表达式回填
     */
    function backFillCron() {
        var parentFrameName = $("#parentFrameName").val();
        parent.layer.getChildFrame('body', parentFrameName).find("#cronValue").val($("#cron_exp").val());
        $t.closeWindow();
    }
</script>
</body>
</html>