<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="https://www.huilianyi.com/favicon.ico" type="image/x-icon">
    <title th:text="#{web.menu.title}"></title>

    <link th:href="@{/plugins/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css}" rel="stylesheet"
          type="text/css">
</head>
<body>
<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" th:text="#{web.menu.label.menuKey}"></label>
            <div class="layui-input-inline">
                <input type="text" name="menuKey" id="menuKey" th:placeholder="#{web.menu.label.menuKey}"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" th:text="#{web.menu.label.menuType}"></label>
            <div class="layui-input-inline">
                <select name="menuType" id="menuType">
                    <option value="" selected th:text="#{web.common.column.select}"></option>
                    <option value="0" th:text="#{web.menu.label.menuType.path}"></option>
                    <option value="1" th:text="#{web.menu.label.menuType.menu}"></option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn search-btn" data-type="reload" type="button">
                <i class="fas fa-search"></i>&nbsp;
                <span th:text="#{web.common.operate.search}"></span>
            </button>
            <button class="layui-btn" type="reset">
                <i class="fas fa-redo-alt"></i>&nbsp;
                <span th:text="#{web.common.operate.reset}"></span>
            </button>
        </div>
    </div>
</form>
<div class="layui-btn-group">
    <button class="layui-btn layui-btn-sm" id="addButton">
        <i class="fas fa-plus-square"></i>&nbsp;
        <span th:text="#{web.common.operate.add}"></span>
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" id="deleteButton">
        <i class="fas fa-minus-square"></i>&nbsp;
        <span th:text="#{web.common.operate.delete}"></span>
    </button>
</div>
<div class="layui-form">
    <table class="layui-table" id="menuTable" lay-filter="menuTable" lay-data="{
            elem: '#menuTable',
            url: '/face/menu/select',
            page: {
                limits: [10, 20, 30, 50]
            },
            response: {
                statusName: 'code'
                , statusCode: 10000
                , msgName: 'message'
                , countName: 'total'
                , dataName: 'list'
            },
            initSort: {
                field: 'menuKey'
                , type: 'asc'
            },
            id: 'menuRecords'
        }">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', width:50, fixed:'left'}"></th>
            <th lay-data="{type:'numbers', width:50, fixed:'left'}" th:text="#{web.common.column.number}"></th>
            <th lay-data="{field:'menuKey', width:210, fixed:'left', sort: true}"
                th:text="#{web.menu.label.menuKey}"></th>
            <th lay-data="{field:'parentId', width:130, templet:'#parentRender', fixed:'left'}"
                th:text="#{web.menu.label.parentMenu}"></th>
            <th lay-data="{field:'menuUri', width:130, fixed:'left'}" th:text="#{web.menu.label.menuUri}"></th>
            <th lay-data="{field:'menuType', width:130, templet:'#menuTypeRender'}"
                th:text="#{web.menu.label.menuType}"></th>
            <th lay-data="{field:'menuIcon', width:60, templet:'#menuIconRender'}"
                th:text="#{web.menu.label.menuIcon}"></th>
            <th lay-data="{field:'sort', width:80}" th:text="#{web.menu.label.sort}"></th>
            <th lay-data="{field:'isEnable', width:80, templet:'#isEnableRender'}"
                th:text="#{web.common.column.isEnable}"></th>
            <th lay-data="{field:'createBy', width:130, templet:'#createByRender'}"
                th:text="#{web.common.column.createBy}"></th>
            <th lay-data="{field:'createTime', width:165, sort: true}" th:text="#{web.common.column.createTime}"></th>
            <th lay-data="{field:'updateTime', width:165, sort: true}" th:text="#{web.common.column.updateTime}"></th>
            <th lay-data="{field:'remark', width:260}" th:text="#{web.common.column.remark}"></th>
            <th lay-data="{width:140, align:'center', fixed:'right', toolbar:'#operateBar'}"
                th:text="#{web.common.column.operateBar}"></th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/javascript" th:src="@{/common/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/common/utils.js}"></script>
<script type="text/javascript" th:src="@{/common/common.js}"></script>
<script>
    layui.use(['element', 'form', 'table', 'jquery'], function () {
        var table = layui.table,
            $ = layui.jquery;
        var active = {
            reload: function () {
                var menuKey = $("#menuKey")
                    , menuType = $("#menuType");

                table.reload('menuRecords', {
                    where: {
                        menuKey: menuKey.val(),
                        menuType: menuType.val()
                    }
                });
            }
        };

        $(".search-btn").on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(menuTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'detail') {
                detail("/page/navigation/menu/view", data.objId, 480, 590);
            } else if (layEvent === 'delete') {
                deleteOne("/face/menu/delete", data.objId);
            } else if (layEvent === 'edit') {
                edit("/page/navigation/menu/edit", data.objId, 480, 590);
            }
        });

        $(document).on('click', '#addButton', function () {
            add("/page/navigation/menu/edit", 480, 590);
        });

        $(document).on('click', '#deleteButton', function () {
            var checkedData = table.checkStatus('menuRecords').data;
            if (0 === checkedData.length) {
                var selectOneMore = getI18nResource('web.common.operate.select.oneMore');
                parent.layer.msg(selectOneMore, {icon: 5});
                return;
            }
            var ids = [];
            for (var i = 0; i < checkedData.length; i++) {
                ids.push(checkedData[i].objId);
            }
            deleteBatch('/face/menu/deleteBatch', ids);
        });
    });
</script>
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" th:title="#{web.common.operate.view}">
        <i class="far fa-eye"></i>
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" th:title="#{web.common.operate.edit}">
        <i class="far fa-edit"></i>
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" th:title="#{web.common.operate.delete}">
        <i class="far fa-trash-alt"></i>
    </a>
</script>
<script type="text/html" id="menuTypeRender">
    {{#  if(d.menuType === 1){ }}
    <span style="color:blue;" th:text="#{web.menu.label.menuType.menu}"></span>
    {{#  } else { }}
    <span style="color:yellow;" th:text="#{web.menu.label.menuType.path}"></span>
    {{#  } }}
</script>
<script type="text/html" id="menuIconRender">
    <i class="{{d.menuIcon}}"></i>
</script>
<script type="text/html" id="isEnableRender">
    {{#  if(d.isEnable === 1){ }}
    <span style="color:green;" th:text="#{web.common.column.isEnable.enable}"></span>
    {{#  } else { }}
    <span style="color:red;" th:text="#{web.common.column.isEnable.unable}"></span>
    {{#  } }}
</script>
<script type="text/html" id="createByRender">
    {{#
    var createBy = function(){
    var creator = "";
    var createOid = d.createBy;
    if(""===createOid || null == createOid || undefined == createOid){
    return "";
    }
    $.ajax({
    type: "post",
    url: "/face/user/selectById",
    contentType: "application/json",
    data: createOid,
    async: false,
    dataType: "json",
    success: function (result) {
    if (true === result.success) {
    creator = result.object.name;
    }
    }
    });
    return creator;
    }
    }}

    {{ createBy() }}
</script>
<script type="text/html" id="parentRender">
    {{#
    var parent = function(){
    var parentName = "";
    var parentId = d.parentId;
    if(""===parentId || null == parentId || undefined == parentId){
    return "";
    }

    $.ajax({
    type: "post",
    url: "/face/menu/selectById",
    contentType: "application/json",
    data: parentId,
    async: false,
    dataType: "json",
    success: function (result) {
    if (true === result.success) {
    parentName = result.object.menuKey;
    }
    }
    });
    return parentName;
    }
    }}

    {{ parent() }}
</script>
</body>
</html>