<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="https://www.huilianyi.com/favicon.ico" type="image/x-icon">
    <title th:text="#{web.menu.title}"></title>

    <link th:href="@{/plugins/layui/css/layui.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/plugins/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css}" rel="stylesheet"
          type="text/css">
</head>
<body style="padding: 10px;">
<form class="layui-form" action="">
    <input type="hidden" name="objId" th:value="${menuInfo.objId}">
    <input type="hidden" id="createBy" name="createBy">
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" style="width: 90px;">
            <span th:text="#{web.menu.label.menuKey}"></span>
            <span class="layui-badge-dot"></span></label>
        <div class="layui-input-inline">
            <input type="text" name="menuKey" required lay-verify="required" autocomplete="off"
                   th:placeholder="#{web.menu.label.menuKey}" class="layui-input" th:value="${menuInfo.menuKey}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.menu.label.parentMenu}" style="width: 90px;"></label>
        <div class="layui-input-inline">
            <input type="text" name="parentId" autocomplete="off" class="layui-input"
                   th:placeholder="#{web.menu.label.parentMenu}" th:value="${menuInfo.parentId}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.menu.label.menuUri}" style="width: 90px;"></label>
        <div class="layui-input-inline">
            <input type="text" name="menuUri" class="layui-input" autocomplete="off"
                   th:placeholder="#{web.menu.label.menuUri}" th:value="${menuInfo.menuUri}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.menu.label.menuIcon}" style="width: 90px;"></label>
        <div class="layui-input-inline">
            <input type="text" name="menuIcon" id="menuIcon" autocomplete="off" readonly="readonly" class="layui-input"
                   th:placeholder="#{web.menu.label.menuIcon}" th:value="${menuInfo.menuIcon}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.menu.label.sort}" style="width: 90px;"></label>
        <div class="layui-input-inline">
            <input type="number" name="sort" class="layui-input" autocomplete="off"
                   th:placeholder="#{web.menu.label.sort}" th:value="${menuInfo.sort}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.menu.label.menuType}" style="width: 90px;"></label>
        <div class="layui-input-inline">
            <select name="menuType">
                <option value="0" th:selected="${menuInfo.menuType==0}"
                        th:text="#{web.menu.label.menuType.path}"></option>
                <option value="1" th:selected="${menuInfo.menuType==1}"
                        th:text="#{web.menu.label.menuType.menu}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label lable-width" th:text="#{web.common.column.isEnable}"
               style="width: 90px;"></label>
        <div class="layui-input-inline">
            <select name="isEnable">
                <option value="1" th:selected="${menuInfo.isEnable==1}"
                        th:text="#{web.common.column.isEnable.enable}"></option>
                <option value="0" th:selected="${menuInfo.isEnable==0}"
                        th:text="#{web.common.column.isEnable.unable}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label lable-width" th:text="#{web.common.column.remark}" style="width: 90px;"></label>
        <div class="layui-input-block textarea-left" style="margin-left: 120px;">
                <textarea th:placeholder="#{web.common.column.remark}" class="layui-textarea" name="remark"
                          th:text="${menuInfo.remark}"></textarea>
        </div>
    </div>
    <div class="page-footer">
        <div class="btn-list">
            <div class="btnlist" style="text-align: right;">
                <button class="layui-btn" lay-submit lay-filter="submit" data-url="/face/menu/add"
                        th:style="'display:'+${pageProperty=='edit'?'inline-block':'none'}+''">
                    <i class="fas fa-save"></i>&nbsp;
                    <span th:text="#{web.common.operate.submit}"></span>
                </button>
                <button class="layui-btn" type="reset"
                        th:style="'display:'+${pageProperty=='edit'?'inline-block':'none'}+''">
                    <i class="fas fa-redo-alt"></i>&nbsp;
                    <span th:text="#{web.common.operate.reset}"></span>
                </button>
                <button class="layui-btn" onclick="$t.closeWindow();">
                    <i class="fas fa-undo-alt"></i>&nbsp;
                    <span th:text="#{web.common.operate.cancel}"></span>
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" th:src="@{/common/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/common/utils.js}"></script>
<script type="text/javascript" th:src="@{/common/common.js}"></script>
<script>
    layui.use([], function () {
        var loginUser = sessionUser();
        $("#createBy").val(loginUser.objId);

        $(document).on('click', '#menuIcon', function () {
            parent.layer.open({
                type: 2,
                title: 'Icon',
                shadeClose: false,
                shade: [0.3, '#000'],
                maxmin: false,
                area: ['890px', '540px'],
                content: "/page/navigation/fontAwesomeIcons",
                success: function (layero, index) {
                    var parentIndex = parent.layer.getFrameIndex(window.name);
                    var body = parent.layer.getChildFrame('body', index);
                    body.find("input").val(parentIndex);
                }
            });
        });
    });
</script>
</body>
</html>